<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=footwears_path%>">Calzados</a>
  </li>
  <li class="breadcrumb-item active"><%= @footwear.sku %></li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5" style="max-width: 53rem;">
    <div class="card-header active-<%=@footwear.active%>"><%= @footwear.short_description %></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <% if  @footwear.stock > @footwear.stock_warning %>
            <div class="alert alert-success" role="alert">
             Quedan <strong><%=@footwear.stock%></strong> ejemplares en el inventario.
            </div>
          <% else %>            
            <div class="alert alert-danger" role="alert">
              Quedan <strong><%=@footwear.stock%></strong> ejemplar<% if  @footwear.stock > 2 %>es<% end %> en el inventario, debería solictar más.
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <% if @footwear.avatar.attached? %>
              <img src="<%=url_for(@footwear.avatar)%>" class="" alt="San Fran" style="width:204px;height:auto;"> 
            <% else %>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT47Iy_5Ta74Q-2vZ4YhSNbSUYDAFtCsP6ABoHkZBaU3kG9RBOA" class="img-fluid img-thumbnail" alt="San Fran" style="width:204px;height:auto;">
            <% end %>
          
          </div>
          <div style="width: 100%;text-align:center;">
            <%= image_tag "barcode.png", class: "center-block" %>
          </div>
     
          
          <div style="max-width: 100%;text-align: center;">
            <%= @footwear.sku %>
          </div>

          <%= link_to image_tag("print_button.png", class: :float_button, alt: "Imprimir"), footwears_path+"/"+@footwear.id.to_s+".pdf", target: :_blank %>

        </div>
        <div class="col-md-8">
          <% if !@footwear.article.nil? and  !@footwear.article.blank?%>
            <p>
              <strong>Artículo:</strong>
              <%= @footwear.article%>
            </p>
          <% end %>
          <p>
            <strong>Marca (proveedor):</strong>
            <%= @footwear.trademark%>
          </p>
          <p>
            <strong>Categoría:</strong>
            <%= @footwear.category %>
          </p>
          <p>
            <strong>Sexo:</strong>
            <%= @footwear.sex %>
          </p>
          <p>
            <strong>Color:</strong>
            <%= @footwear.color %>
          </p>
          <p>
            <strong>Talle:</strong>
            <%= @footwear.size %>
          </p>
          <% if !@footwear.release_date.nil?%>
           <p>
            <strong>Fecha de creación:</strong>
            <%= @footwear.release_date.strftime("%d/%m/%Y") %>
          </p>
          <% end %>
          <p>
            <strong>País de origen:</strong>
            <%= @footwear.release_country %>
          </p>
          
          
        </div>


        <div class="col-md-12">
          <br>
          <ul class="list-group">
            <li class="list-group-item">
              Precio de Lista
              <span style="float:right;"><%= number_to_currency(@footwear.wholesale_price) %></span>
            </li>
            <li class="list-group-item">
              Precio Contado/Debito
              <span style="float:right;">
                <% if  @footwear.retail_price.nil? %>
                  <%= number_to_currency(@footwear.wholesale_price * WayPay.first.c1) %>
                <% else %>
                  <%= number_to_currency(@footwear.retail_price) %>
                <% end %>
              </span>
            </li>

            <li class="list-group-item">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tajerta</th>
                    <th scope="col">3 cuotas</th>
                    <th scope="col">6 cuotas</th>
                    <th scope="col">12 coutas</th>
                  </tr>
                </thead>
                <tbody>
                  <% WayPay.all.each do |wp| %>
                    <% if wp.name.upcase != "DEBITO" and wp.name.upcase != "EFECTIVO" %>
                      <tr>
                        <td><%=wp.name%></td>
                        <td>
                          <% if !@footwear.calculate_way_pay(wp.name, 3).nil?%>
                            <%= number_to_currency(@footwear.calculate_way_pay(wp.name, 3) / 3)%>  (<%= number_to_currency(@footwear.calculate_way_pay(wp.name, 3),) %>)
                          <% else %>  
                            -
                          <% end %>  
                        </td>
                        <td>
                          <% if !@footwear.calculate_way_pay(wp.name, 6).nil?%>
                            <%= number_to_currency(@footwear.calculate_way_pay(wp.name, 6) / 6)%>  (<%= number_to_currency(@footwear.calculate_way_pay(wp.name, 6)) %>)
                          <% else %>  
                            -
                          <% end %>  
                        </td>
                        <td>
                          <% if !@footwear.calculate_way_pay(wp.name, 12).nil?%>
                            <%= number_to_currency(@footwear.calculate_way_pay(wp.name, 12) / 12 )%>  (<%= number_to_currency(@footwear.calculate_way_pay(wp.name, 12)) %>)
                          <% else %>  
                            -
                          <% end %>  
                        </td>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>

      <% if !@footwear.long_description.nil? %>
        <br>
        <p style="font-style: italic"><%=@footwear.long_description%></p>
        <hr>
      <%end%>



      <div class="text-center">
        <%= link_to 'Volver', :back, class: "btn btn-primary" %>
        <%= link_to 'Editar', edit_footwear_path(@footwear), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  $('#footwear_release_country_id').val(11).trigger('change');
</script>