<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=clients_path%>">Clientes</a>
  </li>
  <li class="breadcrumb-item active"><%= @client.fullname %></li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header"><h4><%= @client.fullname %></h4></div>
    <div class="card-body">
      <p>
        <strong>Dni:</strong>
        <%= @client.dni %>
      </p>
      <p>
        <strong>E-mail:</strong>
        <%= @client.mail %>
      </p>

      <p>
        <strong>Teléfono:</strong>
        <%= @client.telephone %>
      </p>

      <p>
        <strong>Dirección:</strong>
        <%= @client.address %>
      </p>

      
      <% if @movement.count > 0 %>
        <hr>
        <center><h4>Últimos movimientos</h4></center>
        <center><strong>Monto actual: <%=number_to_currency(@client.get_debt)%></strong></center>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <% @movement.each_with_index do |m, i| %>
              <% if m[0] === "pago" %>
                <tr class="<%=m[0]%>" onclick="window.location='/payments/<%=m[1]%>';">
              <% else %>
                <tr class="<%=m[0]%>" onclick="window.location='/sales/<%=m[1]%>';">
              <% end %>
                  <td class="noselect"><%=i+1%></td>
                  <td class="noselect"><%=m[0]%></td>
                  <td class="noselect"><%=m[2].strftime("%d/%m/%Y")%></td>
                  <td class="noselect"><%=number_to_currency(m[3])%></td>
                </tr>
            <% end %>    
          </tbody>
        </table>
      <% end %>
      


      <div class="text-center">
        <%= link_to 'Volver', :back, class: "btn btn-primary" %>
        <%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
