<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=clients_path%>">Clientes</a>
  </li>
  <li class="breadcrumb-item active"><%= @client.fullname %></li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header"><h4><%= @client.fullname %></h4></div>
    <div class="card-body">
      <p>
        <strong>Dni:</strong>
        <%= @client.dni %>
      </p>
      <p>
        <strong>E-mail:</strong>
        <%= @client.mail %>
      </p>

      <p>
        <strong>Teléfono:</strong>
        <%= @client.telephone %>
      </p>

      <p>
        <strong>Dirección:</strong>
        <%= @client.address %>
      </p>

      
      <% if @sales_client.count > 0 %>
        <hr>
        <center><strong>Detalle de las últimas ventas hechas al cliente</strong></center>
      <% end %>

      
      
      <% @sales_client.each do |sale| %>
        <div class="bd-callout bd-callout-info">
          <h5><%= sale.date_sale.strftime('%d-%m-%Y')%></h5>
          <ul>
            <% sale.sale_details.each do |sd| %>
              <li><%=sd.footwear.short_description%></li>
            <% end %>      
          </ul>
        </div>
      <% end %>
      


      <div class="text-center">
        <%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
        <%= link_to 'Volver', clients_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
