<div class="field nested-fields row">
	<div class="col-sm-3">
		<%= f.label :way_pay_id %>
		<%= f.collection_select :way_pay_id, WayPay.order(:order), :id, :to_s, {}, {class: "select2 select-field way_pay_select"} %>
	</div>
	<div class="col-sm-2">
		<%= f.label :amount%>
		<div class="input-icon">
	      <%= f.text_field :amount, :placeholder => "0.00", :class=>"amount_value" %>
	      <i>$</i>
	    </div>
	</div>
	<div class="col-sm-2">
		<%= f.label 'Cuotas'%>
		<%= f.select :fee, [1,2,3,4,5,6,12], {}, {class: "select2 fee_select"}%>
	</div>
	<div class="col-sm-2">
		<%= f.label '+ interés'%>
		<div class="input-icon">
	      <%= f.text_field :real_amount, :placeholder => "0.00", :class=>"real_amount_value", :readonly => true  %>
	      <i>$</i>
	    </div>
	</div>
	<div class="col-sm-2">
		<%= f.label 'Cuota'%>
		<div class="input-icon">
	      <input placeholder="0.00" readonly="readonly" type="text" class="amount_x_fee_value">
	      <i>$</i>
	    </div>
	</div>
	<div class="col-sm-1">
		<%= f.label "n", :style=>"color:white;"%>
		<%= link_to_remove_association (fa_icon "times"), f, class: "btn-block", style: "color: red;padding: 3px 0px;font-size: 1.3rem;" %>
	</div>
</div>
