<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item active">Ventas</li>

</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    venta</div>
  <div class="card-body">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.state %></td>
                <td><%= sale.date_sale %></td>
                <td><%= sale.client %></td>
                <td>
                  <%= link_to((fa_icon "eye"), sale) %>
                  <%= link_to((fa_icon "pencil"), edit_sale_path(sale)) %>
                  <%= link_to((fa_icon "trash-o"), sale, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<%= link_to 'Cargar nueva Venta', new_sale_path, class: 'btn btn-primary' %>