<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=sales_path%>">Ventas</a>
  </li>
  <li class="breadcrumb-item active"><%= @sale.id %></li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Venta Nº: <%= @sale.id %></div>
    <div class="card-body">
    	<p>
			  <strong>Date sale:</strong>
			  <%= @sale.date_sale %>
			</p>

			<p>
		  	<strong>Client:</strong>
		  	<%= @sale.client %>
			</p>

			<p>
			  <strong>State:</strong>
			  <%= @sale.state %>
			</p>

	    <div class="text-center">
	    	<%= link_to 'Editar', edit_sale_path(@sale), class: "btn btn-primary" %>
	    	<%= link_to 'Volver', sales_path, class: "btn btn-primary" %>
	    </div>
    </div>
  </div>
</div>
