<p id="notice"><%= notice %></p>

<p>
  <strong>Date sale:</strong>
  <%= @sale.date_sale %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
