<%= form_with(model: release_country, local: true) do |form| %>
  <% if release_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release_country.errors.count, "error") %> prohibited this release_country from being saved:</h2>

      <ul>
      <% release_country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
