<p id="notice"><%= notice %></p>

<h1>Release Countries</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @release_countries.each do |release_country| %>
      <tr>
        <td><%= release_country.code %></td>
        <td><%= release_country.name %></td>
        <td><%= link_to 'Show', release_country %></td>
        <td><%= link_to 'Edit', edit_release_country_path(release_country) %></td>
        <td><%= link_to 'Destroy', release_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release Country', new_release_country_path %>
